env
api/__pycache__
windows/nginx_windows/assets/magica
windows/nginx_windows/nginx/cache
windows/nginx_windows/nginx/logs
data/user
data/userBackup
.idea
build
*.spec
*.pyc
transferUserData
data/extra_ignore
extra_scripts
dist