#PresentHistory {
  width: 1024px;
  height: 100%;
  padding: 90px 20px 20px; }
  #PresentHistory #tabBtnWrap {
    width: 222px;
    height: auto;
    padding: 30px 16px 20px;
    position: absolute;
    top: 70px;
    left: 32px; }
    #PresentHistory #tabBtnWrap li {
      width: 186px;
      margin-bottom: 14px; }
  #PresentHistory #filterTab {
    width: 716px;
    height: 30px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 70px;
    left: 276px;
    -webkit-flex-wrap: flex-start;
    -ms-flex-wrap: flex-start;
    flex-wrap: flex-start;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #PresentHistory #filterTab li {
      width: 140px;
      min-width: 110px;
      height: 36px;
      margin-right: 2px;
      background-size: 110px 100%;
      position: relative; }
      #PresentHistory #filterTab li:before, #PresentHistory #filterTab li:after {
        width: 15px; }
      #PresentHistory #filterTab li span {
        height: 36px;
        position: absolute;
        font-size: 14px;
        line-height: 36px; }
        #PresentHistory #filterTab li span.breakWrap {
          padding-top: 4px;
          font-size: 12px;
          line-height: 14px; }
#PresentHistory #historyBaseWrap {
    width: 712px;
    height: -webkit-calc(100% - 134px);
    padding: 59px 7px 5px 18px;
    position: absolute;
    top: 114px;
    left: 276px; }
    #PresentHistory #historyBaseWrap h2 {
      width: 703px;
      height: 50px;
      padding: 5px 0 0 15px;
      background: url("/magica/resource/image_web/page/mission/mission_header2.png");
      background-size: 100% 50px;
  position: absolute;
      top: 4px;
      left: 5px;
      color: #ffffff;
      text-shadow: -1px -1px 2px #ff4f92, 1px -1px 2px #ff4f92, -1px 1px 2px #ff4f92, 1px 1px 2px #ff4f92, -1px -1px 2px #ff4f92, 1px -1px 2px #ff4f92, -1px 1px 2px #ff4f92, 1px 1px 2px #ff4f92;
      z-index: 1; }
  #PresentHistory .presentCnt {
    position: absolute;
    top: 18px;
    right: 25px;
    z-index: 100; }
    #PresentHistory .presentCnt span {
      margin-left: 10px; }
#PresentHistory #presentWrap {
  width: 695px;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
    left: 0; }
    #PresentHistory #presentWrap #historyCaution {
      font-size: 20px;
      width: 450px;
      height: 30px;
      line-height: 30px;
      position: absolute;
      top: -webkit-calc(50% - 15px);
      left: -webkit-calc(50% - 225px);
      text-align: center; }
      #PresentHistory #presentWrap #historyCaution.hide {
        display: none; }
#PresentHistory #presentWrap #presentScrollWrap {
  width: -webkit-calc(100% - 20px);
  height: -webkit-calc(100% - 96px);
  padding-right: 20px;
  position: absolute;
  top: 36px;
  left: 18px;
      overflow: hidden; }
#PresentHistory #presentWrap #presentScrollWrap #presentInner {
  width: 100%;
  height: auto;
  min-height: 100%;
        padding-top: 24px;
  padding-bottom: 20px;
        position: relative; }
#PresentHistory #presentWrap #presentScrollWrap #presentInner .presentNoItem {
  width: 450px;
  height: 30px;
  position: absolute;
  top: -webkit-calc(50% - 15px);
  left: -webkit-calc(50% - 225px);
  font-size: 20px;
  line-height: 30px;
          text-align: center; }
#PresentHistory .present {
    min-height: 114px;
  margin: 0 0 12px 4px;
  padding: 10px 5px;
    position: relative; }
#PresentHistory .present .historyFormation {
  width: 85px;
  height: 85px;
  background: url("/magica/resource/image_web/item/main/item_bg.png");
  background-size: 100% 100%;
  position: absolute;
  top: 20px;
      left: 20px; }
#PresentHistory .present .historyFormation .formationBase {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: #4d4462;
  position: absolute;
  top: 17.5px;
  left: 17.5px;
        border-radius: 5px; }
#PresentHistory .present .historyFormation .formationBase .formationInner {
  width: 40px;
  height: 40px;
  background-color: #736080;
  position: relative;
          border-radius: 5px; }
#PresentHistory .present .historyFormation .formationBase .formationInner .cols {
  width: 10px;
  height: 10px;
  background-color: #736080;
            position: absolute; }
#PresentHistory .present .historyFormation .formationBase .formationInner .cols.on {
              background-color: #f4e0ca; }
#PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation1, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation4, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation7 {
              top: 27px; }
#PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation2, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation5, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation8 {
              top: 15px; }
#PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation3, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation6, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation9 {
              top: 3px; }
#PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation1, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation2, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation3 {
              left: 3px; }
#PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation4, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation5, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation6 {
              left: 15px; }
#PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation7, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation8, #PresentHistory .present .historyFormation .formationBase .formationInner .cols.formation9 {
              left: 27px; }
#PresentHistory .present .imgWrap {
  width: 85px;
  height: 100%;
  display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-justify-content: flex-end;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
#PresentHistory .present .imgWrap .imgMiniWrap {
  height: 85px;
        position: relative; }
#PresentHistory .present .imgWrap .imgMiniWrap .quantity {
  position: absolute;
  right: 5px;
  bottom: 2px;
  color: #ffffff;
          text-shadow: 1px 0 2px #504432,
 -1px 0 2px #504432,
 0 1px 2px #504432,
 0 -1px 2px #504432,
 1px 1px 2px #504432,
 -1px 1px 2px #504432,
 1px -1px 2px #504432,
 -1px -1px 2px #504432; }
#PresentHistory .present .imgWrap img {
        max-width: 85px; }
#PresentHistory .present .imgWrap .userCharaIcon {
        position: relative; }
#PresentHistory .present .imgWrap .charaIcon {
  width: 58px;
  height: 52px;
  position: absolute;
  right: -12px;
        bottom: 5px; }
#PresentHistory .present .imgWrap .charaIcon:before {
  width: 58px;
  height: 52px;
  background: url("/magica/resource/image_web/common/chara/chara_frame_S.png") left top no-repeat;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 29px);
  content: "";
          z-index: 100; }
#PresentHistory .present .imgWrap .charaIcon:after {
  width: 58px;
  height: 52px;
  background: url("/magica/resource/image_web/common/chara/chara_base_S.png") left top no-repeat;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 29px);
  content: "";
          z-index: 80; }
#PresentHistory .present .imgWrap .charaIcon .maskWrap {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  left: -webkit-calc(50% - 26px);
  overflow: hidden;
  border-radius: 26px;
          z-index: 90; }
#PresentHistory .present .imgWrap .charaIcon .maskWrap img {
  width: 60px;
  height: auto;
  position: absolute;
  top: 0;
            left: -webkit-calc(50% - 30px); }
#PresentHistory .present .presentName {
  width: 480px;
  display: block;
  position: absolute;
  top: 12px;
  left: 120px;
  overflow: hidden;
  font-size: 20px;
  white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
#PresentHistory .present .presentDate {
  position: absolute;
      top: 74px;
  left: 120px;
      text-shadow: 0 0; }
#PresentHistory .present .presentCommentWrap {
  width: 620px;
      padding: 36px 0 0 114px; }
#PresentHistory .present .presentCommentWrap p {
        display: inline-block; }
#PresentHistory .present .presentCommentWrap .presentComment {
  width: 506px;
  overflow: hidden;
  white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; }
#PresentHistory .present .presentCommentWrap .presentCaution {
  margin-left: 120px;
  padding: 2px 10px;
  background: #f86688;
  position: absolute;
  bottom: 10px;
  left: 120px;
  color: #ffffff;
  -webkit-border-radius: 5px;
        text-shadow: 0 0; }
    #PresentHistory .present.hide {
      display: none; }
