#CollectionTop {
  width: 1024px;
  height: 100%;
  padding: 160px 0 0;
  position: relative;
  overflow: hidden;
}
#CollectionTop .btnWrap {
  position: absolute;
  top: -webkit-calc(50% - 152px);
  right: 80px;
  width: 348px;
  height: 348px;
  background: url("/magica/resource/image_web/page/collection/archive_base.png") left top no-repeat;
}
#CollectionTop .collectionBtn {
  width: 114px;
  height: 132px;
  position: absolute;
}
#CollectionTop .collectionBtn.charaBtn {
  left: 117px;
  top: -34px;
  background: url("/magica/resource/image_web/page/collection/btn_collection_chara.png") left top no-repeat;
}
#CollectionTop .collectionBtn.memoriaBtn {
  top: 88px;
  left: -34px;
  background: url("/magica/resource/image_web/page/collection/btn_collection_memoria.png") left top no-repeat;
}
#CollectionTop .collectionBtn.doppelBtn {
  left: 26px;
  bottom: -34px;
  background: url("/magica/resource/image_web/page/collection/btn_collection_doppel.png") left top no-repeat;
}
#CollectionTop .collectionBtn.doppelBtn.limited {
  pointer-events: none;
  background: url("/magica/resource/image_web/page/collection/btn_collection_doppel_gray.png") left top no-repeat;
}
#CollectionTop .collectionBtn.doppelBtn.limited:before {
  width: 121px;/*MN*/
  height: 32px;/*MN*/
  background: url("/magica/resource/image_web/common/closed/condition_03.png");
  position: absolute;
  top: -4px;
  right: -4px;
  display: block;
  content: "";
}
#CollectionTop .collectionBtn.storyBtn {
  top: 88px;
  right: -34px;
  background: url("/magica/resource/image_web/page/collection/btn_collection_story.png") left top no-repeat;
}
#CollectionTop .collectionBtn.witchBtn {
  right: 26px;
  bottom: -34px;
  background: url("/magica/resource/image_web/page/collection/btn_collection_witch.png") left top no-repeat;
}
#CollectionTop .collectionBtn.witchBtn.limited {
  pointer-events: none;
  background: url("/magica/resource/image_web/page/collection/btn_collection_witch_gray.png") left top no-repeat;
}
#CollectionTop .collectionBtn.witchBtn.limited:before {
  width: 121px;/*MN*/
  height: 32px;/*MN*/
  background: url("/magica/resource/image_web/common/closed/condition_03.png");
  position: absolute;
  top: -4px;
  right: -4px;
  display: block;
  content: "";
}
#CollectionTop .collectionBtn.touch:before {
  width: 114px;
  height: 132px;
  background-image: url("/magica/resource/image_web/page/collection/collection_hover.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  pointer-events: none;
  mix-blend-mode: overlay;
}
