<div id="sortfilter" class='chara'>
	<p class='filterText'>Only the selected fields will be displayed.</p>

	<div id="filterAttList">
		<div class='filterBar'>
			<p>Element</p>
			<span class='filterAtt se_tabs ALL' data-type-filter="ALL"><span class='checkBox'></span>View All</span>
		</div>
		<div class='flexBox'>
			<span class="filterAtt se_tabs FIRE" data-type-filter="FIRE">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs WATER" data-type-filter="WATER">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs TIMBER" data-type-filter="TIMBER">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs LIGHT" data-type-filter="LIGHT">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs DARK" data-type-filter="DARK">
				<span class='checkBox'></span>
			</span>
			<span class="filterAtt se_tabs VOID" data-type-filter="VOID">
				<span class='checkBox'></span>
			</span>
		</div>
	</div>
	<div id="filterRankList">
		<div class='filterBar'>
			<p>Rarity</p>
			<span class='filterRank se_tabs ALL' data-rankfilter-id="ALL"><span class='checkBox'></span>View All</span>
		</div>
		<div class="flexBox">
			<span class="filterRank RANK_1 se_tabs" data-rankfilter-id="RANK_1" ><span class='checkBox'></span><span class="star"></span>1</span>
			<span class="filterRank RANK_2 se_tabs" data-rankfilter-id="RANK_2" ><span class='checkBox'></span><span class="star"></span>2</span>
			<span class="filterRank RANK_3 se_tabs" data-rankfilter-id="RANK_3" ><span class='checkBox'></span><span class="star"></span>3</span>
			<span class="filterRank RANK_4 se_tabs" data-rankfilter-id="RANK_4" ><span class='checkBox'></span><span class="star"></span>4</span>
			<span class="filterRank RANK_5 se_tabs" data-rankfilter-id="RANK_5" ><span class='checkBox'></span><span class="star"></span>5</span>
		</div>
	</div>

	<div id="cardSortBtnsArea">
		<span class="btn b_pink se_decide TE sort popupCloseBtn"><span class='b_screen'></span>Show</span>
	</div>
</div>