<div id="CharaEquip">
	<div id="equipWrap" class='commonFrame3'>
	</div>

	<div id="btnArea" class="equip offLink">
		<ul>
			<li class="TE compose linkBtn se_decide" data-href="#/CharaListCompose"><span></span></li>
			<li class="TE composeMagia linkBtn se_decide" data-href="#/CharaListComposeMagia"><span></span></li>
			<li class="TE customize linkBtn se_decide" data-href="#/CharaListCustomize"><span></span></li>
			<li class="TE equip current linkBtn se_decide" data-href="#/CharaListTop"><span></span></li>
		</ul>
	</div>
</div>