<div id="StoryClearAnimation">
	<div id="storyNumber1">Chapter <%= before.chapterNo %></div>
	<div id="storyClear1"></div>
	<div id="storyClear2"></div>
	<div id="storyClearMiniBg"></div>
	<div id="storyTitle1" class="sectionAnimation"><%= before.title %></div>
	<div id="storyClearSmall" class="sectionAnimation"></div>
	<div id="storyPetal1"></div>
	<div id="storyPetal2"></div>
	<div id="storyPetal3" class="sectionAnimation"></div>

	<% if(after){ %>
	<div id="storyNumber2">Chapter <%= after.chapterNo %></div>
	<div id="storyTitle2" class="sectionAnimation"><%= after.title %></div>
	<div id="storySmall"></div>
	<% } %>
	<div id="storyCircle1" class="sectionAnimation"></div>
	<div id="storyCircle2"></div>

	<div id="storyClearBg"></div>
	<div id="storyClearMaskBg"></div>
</div>
