<div id="MemoriaTop">
	<div id="charaImgWrap"></div>

	<ul class="btnList">
		<li class="TE composeLinkBtn"><div class="linkBtn se_decide diamond" data-href="#/MemoriaList/compose"></div></li>
		<li class="TE listLinkBtn"><div class="linkBtn se_decide diamond" data-href="#/MemoriaList"></div></li>
		<li class="TE limitBreakLinkBtn"><div class="linkBtn se_decide diamond" data-href="#/MemoriaList/limitbreak"></div></li>
		<li class="TE setLinkBtn"><div class="linkBtn se_decide diamond" data-href="#/MemoriaSetList"></div></li>
		<li class="TE archiveLinkBtn"><div class="linkBtn se_decide diamond" data-href="#/PieceArchive"></div></li>
		<li class="TE saleLinkBtn"><div class="linkBtn se_decide diamond" data-href="#/MemoriaList/sell"></div></li>
	</ul>
</div>