#SubQuest { width: 1024px; height: 100%; position: relative; overflow: hidden; }

#SubQuest .prm_chapterId, #SubQuest .prm_areaMapId { display: none; }

#SubQuest #content { width: 1024px; height: 100%; position: relative; }

#SubQuest #content #debugArea { width: 572px; height: 114px; background: url("/magica/resource/image_web/page/quest/focus_banner_bg.png") left top no-repeat; position: fixed; top: -webkit-calc(50% - 140px); right: 0; z-index: 1; }

#SubQuest #content #questListWrap { width: 100%; height: 576px; position: absolute; top: -webkit-calc(50% - 288px); right: 0; overflow: hidden; z-index: 2; }

#SubQuest #content #questListWrap #questList { -webkit-box-sizing: initial; padding: 148px 0 314px 550px; position: relative; }

#SubQuest #content #questListWrap #questList .section { width: 452px; height: 114px; background: url("/magica/resource/image_web/page/quest/sub/bg_section.png") left center no-repeat; position: relative; }

#SubQuest #content #questListWrap #questList .section.off { display: none; }

#SubQuest #content #questListWrap #questList .section .treasure { width: 64px; height: 64px; display: block; position: absolute; top: 27px; right: 8px; }

#SubQuest #content #questListWrap #questList .section .treasure .imgWrap { width: 64px; height: 64px; position: relative; }

#SubQuest #content #questListWrap #questList .section .treasure .imgWrap .charaIcon { width: 45px; height: 40px; position: absolute; right: -5px; bottom: -5px; }

#SubQuest #content #questListWrap #questList .section .treasure .imgWrap .charaIcon:before { width: 45px; height: 40px; background: url("/magica/resource/image_web/common/chara/chara_frame_S.png") left top no-repeat; background-size: 100% 100%; display: block; position: absolute; top: 0; left: -webkit-calc(50% - 22px); content: ''; z-index: 100; }

#SubQuest #content #questListWrap #questList .section .treasure .imgWrap .charaIcon:after { width: 45px; height: 40px; background: url("/magica/resource/image_web/common/chara/chara_base_S.png") left top no-repeat; background-size: 100% 100%; display: block; position: absolute; top: 0; left: -webkit-calc(50% - 22px); content: ''; z-index: 80; }

#SubQuest #content #questListWrap #questList .section .treasure .imgWrap .charaIcon .maskWrap { width: 40px; height: 40px; position: absolute; top: 0; left: -webkit-calc(50% - 20px); overflow: hidden; border-radius: 20px; z-index: 90; }

#SubQuest #content #questListWrap #questList .section .treasure .imgWrap .charaIcon .maskWrap img { width: 50px; height: auto; position: absolute; top: 0; left: -webkit-calc(50% - 25px); }

#SubQuest #content #questListWrap #questList .section .treasure img { width: 64px; height: 64px; position: absolute; top: 0; left: 0; z-index: 1; }

#SubQuest #content #questListWrap #questList .section .treasure .title { width: 110px; height: 22px; background: url("/magica/resource/image_web/page/quest/reward.png") left center no-repeat; position: absolute; top: -20px; left: -24px; z-index: 100; }

#SubQuest #content #questListWrap #questList .section .sectionNo { display: block; position: absolute; top: 6px; left: 40px; color: #fff; text-align: center; text-shadow: -1px -1px 1px #0b9885, 1px -1px 1px #0b9885, -1px 1px 1px #0b9885, 1px 1px 1px #0b9885, -1px -1px #0b9885, 1px -1px #0b9885, -1px 1px #0b9885, 1px 1px #0b9885, -1px -1px 2px #0b9885, 1px -1px 2px #0b9885, -1px 1px 2px #0b9885, 1px 1px 2px #0b9885, -1px -1px 2px #0b9885, 1px -1px 2px #0b9885, -1px 1px 2px #0b9885, 1px 1px 2px #0b9885, -1px -1px 3px #0b9885, 1px -1px 3px #0b9885, -1px 1px 3px #0b9885, 1px 1px 3px #0b9885; }

#SubQuest #content #questListWrap #questList .section .sectionTitle { margin: 32px 0 0 50px; display: inline-block; color: #fff; font-size: 21px; text-shadow: -1px -1px 1px #0b9885, 1px -1px 1px #0b9885, -1px 1px 1px #0b9885, 1px 1px 1px #0b9885, -1px -1px #0b9885, 1px -1px #0b9885, -1px 1px #0b9885, 1px 1px #0b9885, -1px -1px 2px #0b9885, 1px -1px 2px #0b9885, -1px 1px 2px #0b9885, 1px 1px 2px #0b9885, -1px -1px 2px #0b9885, 1px -1px 2px #0b9885, -1px 1px 2px #0b9885, 1px 1px 2px #0b9885, -1px -1px 3px #0b9885, 1px -1px 3px #0b9885, -1px 1px 3px #0b9885, 1px 1px 3px #0b9885; }

#SubQuest #content #questListWrap #questList .section .questTip { width: 160px; margin: 2px 0 0 205px; display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-end; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

#SubQuest #content #questListWrap #questList .section .questTip span { width: 28px; height: 28px; background: url("/magica/resource/image_web/page/quest/icon_notclear.png") left center no-repeat; background-size: contain; display: block; margin-right: -4px; }

#SubQuest #content #questListWrap #questList .section .questTip span.clear { background: url("/magica/resource/image_web/page/quest/main/icon_clear.png") left center no-repeat; background-size: contain; }

#SubQuest #content #questListWrap #questList .section .questTip span.comp { background: url("/magica/resource/image_web/page/quest/icon_complete.png") left center no-repeat; background-size: contain; }

#SubQuest #content #questListWrap #questList .chapter { width: 474px; margin: 0; position: relative; }

#SubQuest #content #questListWrap #questList .chapter.halfAp .chapterTitleWrap:before { content: ""; width: 126px; height: 26px; position: absolute; top: 11px; right: 184px; z-index: 100; background: url("/magica/resource/image_web/campaign/half_ap/common/icon_ap_half.png") left center no-repeat; }

#SubQuest #content #questListWrap #questList .chapter.halfAp .section:before { content: ""; width: 102px; height: 20px; position: absolute; bottom: 27px; left: 49px; z-index: 100; background: url("/magica/resource/image_web/campaign/half_ap/common/icon_ap_half_s.png") left center no-repeat; }

#SubQuest #content #questListWrap #questList .chapter .chapterTitleWrap { height: 114px; margin: 0 0 0; padding-left: 60px; background: url("/magica/resource/image_web/page/quest/sub/bg_chapter.png") left center no-repeat; display: -webkit-flex; display: -webkit-box; display: -ms-flexbox; display: flex; }

#SubQuest #content #questListWrap #questList .chapter .toggleBtn { display: block; pointer-events: none; width: 48px; height: 114px; position: absolute; top: 0; right: 20px; background: url("/magica/resource/image_web/page/quest/btn_list_open.png") left center no-repeat; }

#SubQuest #content #questListWrap #questList .chapter .chapterNo { width: 102px; height: 102px; padding-top: 8px; background: url("/magica/resource/image_web/page/quest/chapter_header.png") left center no-repeat; position: absolute; top: -2px; left: -55px; color: #fff; line-height: 102px; text-align: center; }

#SubQuest #content #questListWrap #questList .chapter .chapterNo span { padding: 0 2px; color: #fff; font-size: 15px; }

#SubQuest #content #questListWrap #questList .chapter .chapterTitle { display: inline-block; color: #fff; font-size: 24px; line-height: 114px; text-shadow: -1px -1px 1px #0b9885, 1px -1px 1px #0b9885, -1px 1px 1px #0b9885, 1px 1px 1px #0b9885, -1px -1px #0b9885, 1px -1px #0b9885, -1px 1px #0b9885, 1px 1px #0b9885, -1px -1px 2px #0b9885, 1px -1px 2px #0b9885, -1px 1px 2px #0b9885, 1px 1px 2px #0b9885, -1px -1px 2px #0b9885, 1px -1px 2px #0b9885, -1px 1px 2px #0b9885, 1px 1px 2px #0b9885, -1px -1px 3px #0b9885, 1px -1px 3px #0b9885, -1px 1px 3px #0b9885, 1px 1px 3px #0b9885; }

#SubQuest #content #questListWrap #questList .chapter.titleHide .chapterTitleWrap, #SubQuest #content #questListWrap #questList .chapter.titleHide .toggleBtn, #SubQuest #content #questListWrap #questList .chapter.titleHide:after { display: none; }

#SubQuest #content #questListWrap #questList .chapter.open:after { background-repeat: no-repeat; background-position: -41px -254px; }

#SubQuest #content #questListWrap #questList .chapter.open .sectionList { display: block; -webkit-animation: quest_list_show .2s ease .0s 1 alternate; opacity: 0; -webkit-animation-fill-mode: forwards; }

#SubQuest #content #questListWrap #questList .chapter.open .toggleBtn { background: url("/magica/resource/image_web/page/quest/btn_list_close.png") left center no-repeat; }

#SubQuest #content #questListWrap #questList .chapter .sectionList { display: none; }

@media screen and (min-device-height: 577px) { #questListWrap { -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(3%, black), color-stop(97%, black), to(rgba(0, 0, 0, 0))); } }

@-webkit-keyframes quest_list_show { 0% { -webkit-transform: translateX(20px);
    opacity: 0; }
  100% { -webkit-transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes quest_list_hide { 0% { opacity: 1; }
  100% { opacity: 0; } }
