<div class="announceList disp">
	<ul id="announceTab" class="common_tab t_pink">
		<li class="TE se_tabs announceBtn NEW<% if(newFlg.indexOf("NEW") > -1){ %> newIcon<% } %>" data-category="NEW"><span>News</span><!-- <span class="newMark">NEW!</span> --></li>
		<li class="TE se_tabs announceBtn MNT<% if(newFlg.indexOf("MNT") > -1){ %> newIcon<% } %>" data-category="MNT"><span>Maintenance</span><!-- <span class="newMark">NEW!</span> --></li>
		<li class="TE se_tabs announceBtn UPD<% if(newFlg.indexOf("UPD") > -1){ %> newIcon<% } %>" data-category="UPD"><span>Updates</span><!-- <span class="newMark">NEW!</span> --></li>
	</ul>
	<div class="announceScroll2" id="newsScrollWarp">
		<ul class="announceTitle scrollBar">
		<%
			// 負荷軽減用変数
			var moreDispFlg  = false;
			var countN = countM = countU = countF = 0;

			_.forEach(model,function(txt,index){
				if(!txt.subject) return;
				// メンテ中非表示
				if(txt.hiddenUnderMaintenance) return;

				// 端末限定お知らせかチェック
				if(txt.displayOs && txt.displayOs !== "ALL"){
					if(txt.displayOs !== userAgent) return;
				}

				// iOS対策
				var endAt   = txt.endAt.replace(/-/g,"\/");
				var startAt = txt.startAt.replace(/-/g,"\/");

				//比較用にパース
				var parseCurrent = Date.parse(currentTime);
				var parseEndAt   = Date.parse(endAt);
				var parseStartAt = Date.parse(startAt);

				// 掲載期間中か判断
				if(parseEndAt < parseCurrent || parseStartAt > parseCurrent) return;

				// 3ヶ月前まで表示
				if(parseStartAt + 7776000000 < parseCurrent) return;

				// 日付表示用
				var dispDate = txt.startAt.split("-");

				// iOS用DOM多すぎ対策
				var addClass = "";
				switch(txt.category){
					case "NEW" :
						countN++;
						if(countN === 31){
							moreDispFlg = true;
						}
						if(countN >= 31){
							addClass = " notFirstView";
						}
						break;
					case "MNT" :
						countM++;
						if(countM === 31){
							moreDispFlg = true;
						}
						if(countM >= 31){
							addClass = " notFirstView";
						}
						break;
					case "UPD" :
						countU++;
						if(countU === 31){
							moreDispFlg = true;
						}
						if(countU >= 31){
							addClass = " notFirstView";
						}
						break;
				}

		%>
			<li class="commonFrame4 se_decide titleList <%= txt.category %><%= addClass %>" data-newsId="<%= txt.id %>">
				<span class="announceDate c_gold">
					<%= Number(dispDate[1]) %>/<%= Number(dispDate[2].split(" ")[0]) %>
					<div class="newMark"></div>
				</span>
				<span class="announceMultiLine"><%= txt.subject%></span>
			</li>
			<%
				// 続き表示ボタン
				if(moreDispFlg){
					moreDispFlg = false;
			%>
				<li class="commonFrame4 se_decide andMoreBtn more<%= txt.category %>">
					<span>Show More</span>
				</li>
			<% 	} %>
		<%
			})
		%>
		</ul>
	</div>
	<div class="announceRightBg"></div>
</div>

<div class="announceText none">
	<div class="announceScroll3">
		<div id="scrollTextWrap">
			<ul class="newsField scrollBar">
				<li class="newsTitle announceTextsTitle commonFrame4" id="announceTitle">
					<span id="categoryBanner"></span>
					<span class="announceMultiLine"></span>
					<span id="innerDate" class="c_gold"></span>
				</li>
				<li class="newsTextField serifFont commonFrame4"></li>
				<li><span class="newsClose btn b_white TE se_cancel"><span class="b_screen"></span>Back</span></li>
			</ul>
		</div>
	</div>
</div>
