<div class="etcPopInner commonFrame1">
	<span class="closeDefault popupCloseBtn se_cancel TE"></span>
	<p class="popupTitle">Other</p>
	<div class="etcPopWrap">
		<span class="TE linkBtn se_decide collectionBtn" data-href="#/CollectionTop"><span class='b_screen'></span></span>
		<span class="TE linkBtn se_decide itemBtn" data-href="#/ItemListTop"><span class='b_screen'></span></span>
		<span class="TE linkBtn se_decide friendBtn" data-href="#/FollowTop"><span class='b_screen'></span></span>
		<span class="TE linkBtn se_decide etcHelpBtn" data-href="#/Help"><span class='b_screen'></span></span>
		<span class="TE linkBtn se_decide configBtn" data-href="#/ConfigTop"><span class='b_screen'></span></span>
	</div>

    <% if(window.isDebug) { %>
        <span class="backDoorBtn popupCloseBtn mb_white">裏口</span>
    <% } %>
</div>
