<div id="rulesBase" class="rule">
	<div class="popupScrollWrap rulesPop">
	<ul class="ruleTab common_tab t_gold">
		<li class="se_tabs TE ruleDisp current" data-disp="rule"><span>「特定商取引に関する法律」に基づく表示</span></li>
		<li class="se_tabs TE thirteenDisp" data-disp="thirteen"><<span>「資金決済法に関する法律第13条」に基づく表示</span></li>
	</ul>
	<div class="rule">
		<p>「特定商取引に関する法律」に基づく表示</p>
		<br>
		販売業者<br>
		&nbsp;&nbsp;株式会社アニプレックス<br>
		<br>
		販売責任者<br>
		&nbsp;&nbsp;岩上&nbsp;敦宏<br>
		<br>
		本社<br>
		&nbsp;&nbsp;所在地：〒102-8353&nbsp;東京都千代田区六番町４番地５<br>
		<br>
		問い合わせ先<br>
		&nbsp;&nbsp;support@magireco.com <br>
		&nbsp;&nbsp;10:00〜19:00&nbsp;平日のみ（土日祝除）<br>
		&nbsp;&nbsp;電話番号（ナビダイアル）：03-5211-7555<br>
		&nbsp;&nbsp;営業時間：10:00～18:00&nbsp;平日のみ（土日祝、年末年始除）<br>
		<br>
		販売価格<br>
		&nbsp;&nbsp;購入手続きの際、都度画面に表示いたします。消費税は内税として表示いたします。<br>
		<br>
		販売価格以外の必要料金<br>
		&nbsp;&nbsp;通信時にパケット通信料が発生します。<br>
		<br>
		受け渡し時期<br>
		&nbsp;&nbsp;購入手続き完了後、即時にお引き渡し致します。<br>
		<br>
		代金の支払い時期及び方法<br>
		&nbsp;&nbsp;ご利用のコンテンツによって、お支払いの時期及び方法が異なります。<br>
		&nbsp;&nbsp;該当のコンテンツプロバイダの定める利用規約をご確認ください。<br>
		<br>
		返品・交換<br>
		&nbsp;&nbsp;デジタルコンテンツの特性上、購入確定後の返品・交換には応じられません。<br>
		<br>
		未成年者の購入について<br>
		&nbsp;&nbsp;お客様が未成年者の場合は、親権者その他の法定代理人の同意を得てからご購入ください。<br>
		<br>
		動作環境<br>
		&nbsp;&nbsp;対象のサービスが動作するAndroid端末、iOS端末及びPC端末のいずれかが必要です。<br>
		&nbsp;&nbsp;動作環境は、各アプリの公式サイトにてご確認ください。<br>
		<br>
		その他<br>
		&nbsp;&nbsp;サービスのご利用に際しては、必ず利用規約の内容を確認し、同意をされた上でご購入ください。
	</div>
	<div class="thirteen">
		<p>「資金決済法に関する法律第13条」に基づく表示</p>
		<br>
		発行業者<br>
		&nbsp;&nbsp;株式会社アニプレックス<br>
		&nbsp;&nbsp;東京都千代田区六番町4番地5<br>
		<br>
		支払可能金額等<br>
		&nbsp;&nbsp;上限はありません。<br>
		<br>
		有効期間<br>
		&nbsp;&nbsp;期限はありません。<br>
		<br>
		ご相談窓口<br>
		&nbsp;&nbsp;Mail Adress：support@magireco.com<br>
		&nbsp;&nbsp;営業時間&nbsp;10：00～19：00&nbsp;平日のみ（土日祝除）<br>
		<br>
		使用場所<br>
		&nbsp;&nbsp;iOS／Androidアプリ『マギアレコード&nbsp;魔法少女まどか☆マギカ外伝』内のみ使用することができます。<br>
		<br>
		利用上の注意<br>
		&nbsp;&nbsp;（１）資金決済に関する法律に基づき払戻しが認められる場合を除き、ご購入後の払戻しはいたしません。<br>
		&nbsp;&nbsp;（２）15歳以下の方のマギアストーン購入は月間5,000円（税込）、16～19歳の方のマギアストーン購入は月間30,000円（税込）を上限とさせていただきます。<br>
		&nbsp;&nbsp;（３）マギアストーンは第三者に譲渡、貸与等はできません。<br>
		&nbsp;&nbsp;（４）その他事項については、利用規約をご覧ください。<br>
		<br>
		未使用残高の確認方法<br>
		&nbsp;&nbsp;『マギアレコード&nbsp;魔法少女まどか☆マギカ外伝』アプリ内の「HOME」画面の上、所持マギアストーン欄をタップし現れる「マギアストーン購入」画面よりご覧いただけます。<br>
		<br>
		利用規約<br>
		&nbsp;&nbsp;『マギアレコード&nbsp;魔法少女まどか☆マギカ外伝』利用規約をご覧ください。<br>
		&nbsp;&nbsp;アプリ内の「TOPページ」＞「利用規約」よりご確認いただけます。
		</div>
	</div>
</div>