<div id="rulesBase">
	<div class="popupScrollWrap rulesPop">
Terms of Use<br>
<br>
Please carefully read these terms of use (&quot;Terms of Use&quot;) before <br>
using the game application &quot;Magia Record&quot; (including the services provided <br>
on such application; hereinafter the &quot;Application&quot;) provided by Aniplex Inc. (&quot;Aniplex&quot;).<br>
<br>
These Terms of Use apply to users within the United States or Canada as their<br>
country/region of residence. If you are not a resident of the United States or <br>
Canada, please go back to the previous page and select your country/region<br>
of residence, and read the corresponding terms for your country/region.<br>
<br>
By using the Application, you are accepting these Terms of Use. If you do not <br>
agree to these Terms of Use, you may not use the Application. These Terms <br>
of Use constitute a legal agreement between you and Aniplex. These Terms <br>
of Use govern your rights and obligations regarding the Application.<br>
<br>
Article 1 Conditions of Use<br>
<br>
1. You must consent to these Terms of Use and our privacy policy below <br>
(&quot;Privacy Policy&quot;) before you use the Application, and must use the <br>
Application in accordance with these Terms of Use. <br>
2. If you are under the legal age of majority, your parent or legal guardian <br>
must consent to these Terms of Use and the Privacy Policy before you <br>
register your account pursuant to Article 2, Paragraph 1 and start using the <br>
Application.<br>
<br>
Article 2 Account Registration<br>
<br>
1. To use the Application, you must register your account pursuant to the <br>
method prescribed by Aniplex (&quot;Account Registration&quot;). <br>
2. All information provided during Account Registration must be truthful and<br>
accurate. In the case of any change in your registered information, you must<br>
update your information in accordance with the method prescribed by Aniplex <br>
without delay. <br>
3. You may not register two or more accounts for one (1) device.<br>
<br>
Article 3 Device<br>
<br>
1. In using the Application, the management of your electronic device on which <br>
the Application is installed (&quot;Device&quot;) is your own responsibility, and you shall be responsible for any and all acts conducted using the Device. <br>
2. You shall be liable for any damage due to any inadequate management, <br>
error in use, and/or use by a third party of the Device or any account-related <br>
information (&quot;Account Information&quot;) including any passwords created by you <br>
and any identification codes provided by Aniplex to you for the purpose of <br>
transferring game data, and Aniplex shall not be liable for any such<br>
damage. <br>
3. Aniplex shall not be liable for any loss of the Virtual Currency (as defined <br>
in Article 6) or of Game Data (as defined below) retained by you, or for any <br>
other disadvantages or detriment incurred by you, due to the loss of the <br>
Device or any Account Information by you. For the purpose hereof, &quot;Game <br>
Data&quot; shall mean any data related to text, sound, music, image, video, in-<br>
game items, software, programs, etc. provided to you in the Application (including, without limitation, Virtual Currency defined in Article 6), as well as any data and/or information pertaining to the progress of the game in the Application and any and all other situations realized in the Application.<br>
<br>
Article 4 Handling of Game Data<br>
<br>
1. You shall not have any ownership, intellectual property rights or any other rights in regards to the Application and the Game Data, and may use the <br>
Application and Game Data only to the extent permitted in these Terms of<br>
Use.<br>
2. Aniplex may, without providing prior notice to you, delete, move or <br>
otherwise change the Game Data, in whole or in part, at any time, if: <br>
(1) The content of the Game Data is in breach of these Terms of Use; <br>
(2) It becomes difficult for Aniplex to maintain the Game Data due to any <br>
technical reasons such as the data size of the Game Data exceeding the limit that is separately set forth by Aniplex; <br>
(3) Aniplex considers it necessary for the provision of the Application and <br>
the maintenance thereof; <br>
(4) Aniplex considers such Game Data to be an impediment to the smooth <br>
provision of the Application; or <br>
(5) Aniplex otherwise reasonably considers it necessary.<br>
<br>
Article 5 Ownership of Rights<br>
<br>
1. You acknowledge and agree that any and all copyrights and other rights in <br>
the Application and Game Data are owned by Aniplex or its licensors. <br>
2. You may not copy, publish, distribute, assign, rent, lease, transfer, or sell <br>
the Application and Game Data. You may not modify, reverse engineer,<br>
decompile, or disassemble any of the Application or Game Data, whether in <br>
whole or in part, or create any derivative works from or of the Application or <br>
Game Data, unless such derivative works are intentionally facilitated by the <br>
Application. <br>
3. Except as stated in these Terms of Use, all the Application and Game Data <br>
provided to you are licensed non-exclusively and revocably to you solely for <br>
your personal, private, non-transferable, non-commercial, limited use on <br>
Devices in the country/region in which you are registered.<br>
<br>
Article 6 Virtual Currency<br>
<br>
1. You may order, in the Application or on the official website of the <br>
Application (&quot;Official Website&quot;), virtual currency dedicated for use in the <br>
Application named &quot;Magia Stone&quot; (the &quot;Virtual Currency&quot;), and may use such <br>
Virtual Currency only in the Application. <br>
2. If you are under legal age of majority, you must obtain the consent of your <br>
parent or legal guardian on each occasion when ordering and using the <br>
Virtual Currency. Your order and use of the Virtual Currency shall be deemed<br>
to have been consented in advance by your parent or legal guardian. Aniplex<br>
may set an upper limit on the amount of Virtual Currency you may order in a <br>
given period according to your age. The details of such restriction will be <br>
separately set forth in the Application or on the Official Website. <br>
3. You may order Virtual Currency from Aniplex pursuant to the settlement <br>
means and unit prescribed by Aniplex. <br>
4. Upon receiving your order as specified in the preceding paragraph, <br>
Aniplex will, according to the content of such order, issue the Virtual <br>
Currency and store and accumulate such information on your account;<br>
provided, however, that Aniplex may reject your order when, for example, <br>
Aniplex cannot confirm the settlement by the settlement means selected by <br>
you. <br>
5. You shall pay for the Virtual Currency in accordance with the payment <br>
terms and other conditions separately set forth by the provider of the <br>
settlement means designated by Aniplex. If any dispute, disagreement, cause <br>
of action, claim, controversy, or proceeding concerning a settlement should <br>
arise between you and the provider of the settlement means, you shall <br>
attempt to resolve such dispute with such provider, and, unless there is any<br>
reason attributable to Aniplex, Aniplex shall have no responsibility therefor. <br>
6. The Virtual Currency has no limited effective period but is subject to <br>
termination cancellation pursuant to these Terms of Use. <br>
7. You may exchange the Virtual Currency with virtual items or other services <br>
in the Application under the conditions set forth herein. <br>
8. You may not transfer the Virtual Currency to any other account, or assign, <br>
lend, or offer as security, the Virtual Currency to any third party. <br>
9. Aniplex shall not exchange the Virtual Currency with other virtual <br>
currencies, etc., and shall not make any reimbursement for the Virtual <br>
Currency in cash unless otherwise required by applicable laws and <br>
regulations, in which case the method of reimbursement shall be indicated in <br>
the Application or on the Official Website. <br>
10. In addition to those specified herein, Aniplex may publish in the <br>
Application or on the Official Website any conditions or other rules for the <br>
use of the Virtual Currency from time to time as it deems necessary. In such <br>
case, you shall order and use the Virtual Currency in accordance with such <br>
published content, along with these Terms of Use. In addition to what is <br>
provided for in Paragraph 2 of this Article 6, other restrictions separately set<br>
forth in the Application or on the Official Website may apply to the order and <br>
use of the Virtual Currency by a minor. <br>
11. You acknowledge and agree that, if you fail to collect the Virtual <br>
Currency granted by Aniplex free of charge as a present within the period <br>
prescribed by Aniplex, Aniplex may delete such Virtual Currency at its sole <br>
discretion. <br>
12. If Aniplex deletes your account for any reason attributable to you <br>
pursuant to these Terms of Use, or if you uninstall the Application and <br>
Aniplex therefore deletes your account, Aniplex may, without obtaining your <br>
consent, invalidate and delete the Virtual Currency retained in your account. <br>
Aniplex shall not be liable for any damage which may be incurred by you due <br>
to the invalidation of the Virtual Currency, except where there is any reason <br>
attributable to Aniplex.<br>
<br>
Article 7 Burden of Costs<br>
<br>
You shall bear any costs for the purchase, installation, and maintenance of <br>
your Device, as well as telecommunication fees and charges such as packet<br>
communication charges and data usage fees, and any and all other costs and <br>
expenses necessary for your use of the Application.<br>
<br>
Article 8 Acquisition and Use of Information<br>
<br>
1. When you use the Application, Aniplex may acquire the following <br>
information (&quot;Acquired Data&quot;): <br>
(1) Your Device information (such as the OS, the language settings, and the <br>
country from which access is made); <br>
(2) Usage status and conditions of the Application (such as the version and <br>
usage history of the Application); <br>
(3) Information on the campaigns used; and <br>
(4) Information transmitted by you in the process of account registration, <br>
etc., which may include, but not be limited to, username and email address. <br>
2. Aniplex will treat your personal information included in the Acquired Data <br>
pursuant to the Privacy Policy. In case of any inconsistency between the <br>
Privacy Policy and these Terms of Use, the Privacy Policy shall prevail. <br>
3. Aniplex may use the Acquired Data to:<br>
(1) Provide the Application to you: <br>
(2) Confirm your identity (if you are under legal age of majority, including <br>
your parent or legal guardian); <br>
(3) Distribute notices, etc., carry out questionnaires, and respond to inquiries, <br>
etc.; <br>
(4) Analyze your tendencies of use and provide services, advertisements, or <br>
other information based thereon; <br>
(5) Compile statistics concerning the usage of the Application and publish or <br>
publicize such statistical information in the Application, on the Official <br>
Website or other website of Aniplex, or otherwise; <br>
(6) Enhance the quality of and resolve any failures in the Application; and <br>
(7) Conduct investigations in the event of any threatened breach of these <br>
Terms of Use. <br>
4. Aniplex shall not disclose the Acquired Data without your consent to any <br>
third party other than the providers of the services which include the <br>
handling of the Acquired Data to the extent necessary to achieve the <br>
purposes specified in the preceding paragraph. <br>
5. Notwithstanding the provisions of the preceding paragraph, Aniplex may<br>
disclose the Acquired Data without your consent, if such disclosure is: <br>
(1) Based on laws and regulations; <br>
(2) Necessary for protecting the life, limb, or property of humans, where it is <br>
difficult to obtain your consent; <br>
(3) Particularly necessary for the enhancement of public hygiene or <br>
promotion of the healthy development of children, where it is difficult to <br>
obtain your consent; or <br>
(4) Necessary for cooperating with a state organ, a local government, or an <br>
individual or business operator entrusted by either of the former two bodies <br>
in executing the obligations prescribed by laws and regulations, where <br>
obtaining your consent is likely to impede the execution of such affairs. <br>
6. You acknowledge and agree that, in the event of your uninstalling the <br>
Application, Aniplex deleting your account, or Aniplex terminating the <br>
provision of the Application, Aniplex may, at its discretion, erase all of the <br>
Acquired Data. <br>
7. You acknowledge and agree that Aniplex may cause FROSK, Inc. <br>
(&quot;Partner&quot;) to collect the information specified below and analyze such <br>
information using the tool operated by Partner under the name of<br>
&quot;SmartBeat&quot; for the purpose of enhancing the quality of and resolving any <br>
failures in the Application. Partner will not identify you through such <br>
collection and analysis of such information. <br>
(1) Your account; <br>
(2) Settings information regarding the Application, OS version, device name, <br>
screen size, etc.; <br>
(3) Information on the usage condition of the Application, such as the state <br>
of communication and/or memory; and <br>
(4) Information regarding the occurrence of crashes, such as the time of <br>
and/or the portion(s) concerning the occurrence of an error.<br>
<br>
Article 9 Posting of Advertisements<br>
<br>
1. Aniplex may post any advertisements for Aniplex and any third party on the <br>
Application. <br>
2. With respect to the aforementioned advertisements and any third party <br>
websites which are linked from the Application, Aniplex disclaims all <br>
warranties including warranties of their legitimacy, consistency, safety,<br>
accuracy, or usability and shall not be liable for any damage and/or loss <br>
arising from your use of such websites, or from any goods or services <br>
provided through such use.<br>
<br>
Article 10 Warranty Disclaimer<br>
<br>
You acknowledge and agree that use of the Application is at your sole risk <br>
and that you are responsible for your use of the Application. The Application <br>
is provided &quot;AS IS,&quot; without warranty, duty or condition of any kind. ANIPLEX <br>
EXPRESSLY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. ANIPLEX DOES NOT WARRANT OR MAKE ANY CONDITIONS OR REPRESENTATIONS: (A) THAT THE FUNCTIONS CONTAINED IN THE APPLICATION WILL MEET YOUR REQUIREMENTS OR THAT THEY WILL BE UPDATED; (B) THAT THE OPERATION OF THE APPLICATION WILL BE CORRECT OR ERROR-FREE OR THAT ANY DEFECTS WILL BE CORRECTED; (C) THAT THE APPLICATION WILL NOT DAMAGE ANY OTHER SOFTWARE, HARDWARE OR DATA; (D) THAT ANY SOFTWARE, NETWORK SERVICES (INCLUDING THE INTERNET) OR PRODUCTS (OTHER THAN THE APPLICATION) UPON WHICH THE APPLICATION&#x27;S PERFORMANCE DEPENDS WILL CONTINUE TO BE AVAILABLE. UNINTERRUPTED OR UNMODIFIED: AND (E) REGARDING THE USE OR THE RESULTS OF THE USE OF THE APPLICATION IN TERMS OF ITS CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE.<br>
<br>
Article 11 Restriction on Use of Account<br>
<br>
Aniplex reserves the right to delete or suspend your account or restrict its <br>
use in the event of occurrence of any of the following, and shall not be <br>
liable for any damage which may be incurred by you due to such action by <br>
Aniplex.<br>
(1) You breach, or Aniplex believes there is a threatened breach by you of, <br>
any of these Terms of Use; <br>
(2) For any reason, the provision of the Application is hindered or interrupted <br>
by your act, or Aniplex believes there is such risk of hindrance or<br>
interruption; <br>
(3) Your account was suspended or deleted or its use was restricted by <br>
Aniplex in the past; or <br>
(4) Aniplex otherwise considers you to be inappropriate as a user of the <br>
Application (&quot;User&quot;).<br>
<br>
Article 12 Modification, Suspension, and Termination of the Application<br>
<br>
1. Aniplex may, without providing prior notice to you, modify the content of <br>
the Application, in whole or in part, or suspend or terminate the provision of <br>
the Application. <br>
2. Aniplex may, without providing prior notice to you, suspend for a <br>
temporary or long period of time, or terminate the provision of the <br>
Application: <br>
(1) if Aniplex becomes unable to provide the Application due to any force <br>
majeure event, such as a natural disaster like an earthquake, tsunami or <br>
flood, or a fire, power failure or other accident, war, riot, disturbance, or labor dispute;<br>
(2) if Aniplex becomes unable to provide the Application due to any periodic <br>
or urgent maintenance of computer system or other equipment or <br>
infrastructure necessary for the provision of the Application, congestion of <br>
network lines, and/or any problem with network or service provider; or <br>
(3) in any other cases where Aniplex considers it necessary to suspend or <br>
terminate the provision of the Application. <br>
3. Aniplex shall not be liable for any damage incurred by you due to the <br>
modification, suspension, or termination of the Application, unless it is <br>
attributable to Aniplex.<br>
<br>
Article 13 Abolition of Virtual Currency<br>
<br>
Aniplex may terminate issuance and use of, and abolish the Virtual Currency <br>
by notifying such abolition in the Application or on the Official Website, <br>
setting a notification period which Aniplex considers reasonable. Upon <br>
expiration of such notification period, the Virtual Currency shall become void <br>
and not be refunded unless otherwise required by applicable laws. Aniplex <br>
shall not be liable for any damage which may be incurred by you due to the<br>
invalidation of the Virtual Currency, except where there is any reason attributable to Aniplex.<br>
<br>
Article 14 Prohibited Matters<br>
<br>
1. In using the Application, you must not conduct: <br>
(1) Any act which is not in compliance with applicable laws and regulations or <br>
these Terms of Use; <br>
(2) Any act which is contrary to public order or morals; <br>
(3) Any act of registering an account by stating false information, or any <br>
other act of providing or disseminating any untrue information to Aniplex or <br>
a third party in the Application; <br>
(4) Any act of unduly collecting and/or using personal information of another <br>
User; <br>
(5) Any act of infringing upon any intellectual property rights, moral rights or <br>
any other rights of Aniplex or a third party; <br>
(6) Any commercial activity using the Application and the information <br>
obtained from the Application;<br>
(7) Any act of selling and/or purchasing in cash or any equivalent thereto, or <br>
engaging in any exchange transaction involving (without limitation) accounts, <br>
items, Virtual Currency, and/or Game Data, whether inside or outside of the <br>
Application; <br>
(8) Any agreement of, or other preparatory action for, the sale and/or <br>
purchase or the exchange transaction as specified in the preceding item, <br>
whether inside or outside of the Application; <br>
(9) Any act to illegally manipulate any result which can be obtained through <br>
the use of the Application, whether conducted individually, in collusion with <br>
another User, or by making use of the act of another User; <br>
(10) Any act of placing a considerable load on the server or network being <br>
used for the operation of the Application; <br>
(11) Any act of unauthorized access or any other act of pretending to be <br>
another User; <br>
(12) Any act of willfully providing or disclosing information on the failure of <br>
the Application to any third party other than Aniplex; <br>
(13) Any act of altering and/or damaging, or disassembling, decompiling, <br>
and/or reverse engineering any programs used for the Application;<br>
(14) Any act of causing damage to or otherwise troubling Aniplex or a third <br>
party; <br>
(15) Any act of preventing the normal provision of the Application; <br>
(16) Any act of damaging the credibility of Aniplex or the Application; or <br>
(17) Any other act which Aniplex considers inappropriate. <br>
2. In the event that you conduct any of the acts set forth in the immediate <br>
preceding paragraph, Aniplex reserves the right to suspend your use of the <br>
account immediately without giving any prior notice, and shall not be liable <br>
for any damage which may be incurred by you due to such suspension.<br>
<br>
Article 15 Limitation of Liability<br>
<br>
ANIPLEX SHALL NOT BE LIABLE FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES FOR BREACH OF ANY EXPRESS OR IMPLIED WARRANTY, BREACH OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR UNDER ANY OTHER LEGAL THEORY RELATED TO THE APPLICATION, INCLUDING, BUT NOT LIMITED TO, ANY DAMAGES ARISING OUT OF LOSS OF PROFITS, LOSS OF REVENUE, LOSS OF DATA, LOSS OF USE OF THE SOFTWARE OR ANY ASSOCIATED HARDWARE, DOWN TIME AND USER&#x27;S TIME, EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ANY CASE, EACH AND ALL OF ITS AGGREGATE LIABILITY UNDER ANY PROVISION OF THESE TERMS OF USE SHALL BE LIMITED TO THE AMOUNT ACTUALLY PAID BY YOU FOR THE APPLICATION. IF THIS PROVISION IS UNENFORCEABLE IN YOUR JURISDICTION, THE FOREGOING LIMITATIONS, EXCLUSIONS AND DISCLAIMERS SHALL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, EVEN IF ANY REMEDY FAILS ITS ESSENTIAL PURPOSE.<br>
<br>
Article 16 Assignment of Rights and Obligations, etc.<br>
<br>
You may not assign, transfer, or offer as security to any third party, in whole <br>
or in part, your status as a User or the rights and obligations concerning the <br>
transactions between Aniplex and you under these Terms of Use.<br>
<br>
Article 17 Amendments<br>
<br>
1. ANIPLEX RESERVES THE RIGHT TO AMEND ANY OF THESE TERMS OF <br>
USE AT ITS SOLE DISCRETION BY POSTING NOTICE ON A ANIPLEX <br>
DESIGNATED WEB SITE, BY EMAIL NOTIFICATION TO AN EMAIL ADDRESS <br>
PROVIDED BY YOU, BY PROVIDING NOTICE AS PART OF THE PROCESS IN <br>
WHICH YOU OBTAIN UPGRADES/UPDATES, OR BY ANY OTHER LEGALLY <br>
RECOGNIZABLE FORM OF NOTICE. <br>
2. If you do not agree to the amendment, you should promptly contact <br>
Aniplex for instructions. Continued use by you of the Application after the <br>
effective date of any such notice shall be deemed agreement by you to be <br>
bound by such amendment.<br>
<br>
Article 18 Dispute Resolution<br>
<br>
1. BINDING ARBITRATION <br>
ANY &quot;DISPUTE&quot; THAT IS NOT RESOLVED THROUGH THE INFORMAL <br>
NEGOTIATION PROCESS DESCRIBED BELOW SHALL BE RESOLVED <br>
EXCLUSIVELY THROUGH BINDING ARBITRATION. &quot;Dispute&quot; is defined as any <br>
disagreement, cause of action, claim, controversy, or proceeding between<br>
you and Aniplex related to or arising out of the Application or these Terms of <br>
Use. Dispute is to be given the broadest possible meaning that will be <br>
enforced. If a Dispute arises, you agree to first give notice to Aniplex by <br>
contacting Aniplex of America Inc., at 2120 Colorado Ave. #220 Santa <br>
Monica CA 90404, Attn: LEGAL DEPARTMENT, and engaging in good faith <br>
negotiations to attempt to resolve any Dispute for at least 14 days, except <br>
that you or Aniplex may skip this informal negotiation procedure for Dispute <br>
enforcing, protecting, or concerning the validity of intellectual property <br>
rights. <br>
2. ARBITRATION INSTRUCTIONS <br>
To begin arbitration, either you or Aniplex must make a written demand to <br>
the other for arbitration. The arbitration will take place before a single <br>
arbitrator. It will be administered in keeping with the Expedited Procedures of <br>
the Commercial Arbitration Rules, and the Supplementary Proceedings for <br>
Consumer-Related disputes when applicable (&quot;Rules&quot;) of the American <br>
Arbitration Association (&quot;AAA&quot;) in effect when the claim is filed. You may get <br>
a copy of AAA&#x27;s Rules by contacting AAA at (800) 778-7879 or visiting <br>
www.adr.org. The filing fees to begin and carry out arbitration will be shared<br>
between you and Aniplex, but in no event shall your fees ever exceed the <br>
amount allowable by the special rules for Consumer Disputes provided for <br>
by AAA, at which point Aniplex will cover all additional administrative fees and <br>
expenses. This does not prohibit the arbitrator from giving the winning party <br>
their fees and expenses of the arbitration when appropriate pursuant to the <br>
Rules. Unless you and Aniplex agree differently, the arbitration will take place <br>
in the county and state where you live, and applicable federal or state law <br>
shall govern the substance of any Dispute. The Federal Arbitration Act, 9 <br>
U.S.C. 則 1, et seq., will govern the arbitration itself and not any state law on <br>
arbitration. The arbitrator&#x27;s decision will be binding and final, except for a <br>
limited right of appeal under the Federal Arbitration Act. The arbitrator may <br>
award declaratory or injunctive relief only in favor of the party seeking relief, <br>
and only to the extent necessary to provide relief warranted by that party&#x27;s <br>
individual claim. Any court with jurisdiction over the parties may enforce the <br>
arbitrator&#x27;s decision. <br>
3. SMALL CLAIMS EXCEPTION <br>
Despite the provisions set forth above, you have the right to litigate any <br>
Dispute in small claims court or other similar court of limited jurisdiction, to<br>
the extent the amount at issue does not exceed $15,000, and as long as <br>
such court has proper jurisdiction and all other requirements (including <br>
amount in controversy) are satisfied. <br>
4. CLASS ACTION WAIVER <br>
YOU UNDERSTAND AND ACKNOWLEDGE THAT BY AGREEING TO BINDING ARBITRATION, YOU ARE GIVING UP THE RIGHT TO LITIGATE (OR PARTICIPATE IN AS A PARTY OR CLASS MEMBER) ANY DISPUTES IN COURT BEFORE A JUDGE OR JURY. ANY DISPUTE RESOLUTION PROCEEDING WILL BE CONDUCTED ONLY ON AN INDIVIDUAL BASIS, AND BOTH PARTIES AGREE NOT TO HAVE ANY DISPUTE HEARD AS A CLASS ACTION, REPRESENTATIVE ACTION, CONSOLIDATED ACTION, OR PRIVATE ATTORNEY GENERAL ACTION, UNLESS ALL PARTIES INVOLVED IN THE DISPUTE SPECIFICALLY AGREE TO DO SO IN WRITING FOLLOWING INITIATION OF THE ARBITRATION. <br>
5. OPT-OUT INSTRUCTIONS <br>
IF YOU DO NOT WISH TO BE BOUND BY THE BINDING ARBITRATION PROVISION AND/OR THE CLASS ACTION WAIVER ABOVE, THEN: <br>
(1) YOU MUST NOTIFY ANIPLEX IN WRITING WITHIN 30 DAYS OF THE DATE THAT YOU FIRST USE THE APPLICATION OR AGREE TO THESE TERMS OF USE, WHICHEVER OCCURS FIRST; <br>
(2) YOUR WRITTEN NOTIFICATION MUST BE MAILED TO ANIPLEX OF AMERICA INC., AT 2120 COLORADO AVE. #220 SANTA MONICA CA 90404, ATTN: LEGAL DEPARTMENT; AND <br>
(3) YOUR WRITTEN NOTIFICATION MUST INCLUDE: (A) YOUR NAME; (B) YOUR ADDRESS; (C) THE DATE YOU FIRST USED THE APPLICATION OR AGREED TO THESE TERMS OF USE; AND (D) A CLEAR STATEMENT THAT YOU DO NOT WISH TO RESOLVE DISPUTES WITH ANIPLEX THROUGH ARBITRATION AND/OR TO BE BOUND BY THE CLASS ACTION WAIVER. <br>
6. REJECTING CHANGES MADE TO THE DISPUTE PROCEDURES <br>
Despite anything to the contrary in these Terms of Use, you may reject <br>
changes made to the binding arbitration provision and class action waiver if: <br>
(1) you have already begun authorized use of the Application at the time the <br>
change was/is made; and (2) you mail written notice to the address in the <br>
immediately preceding paragraph within 30 days after the particular change <br>
was/is made. Should such a situation arise, you will still be bound by the <br>
Dispute procedures you previously agreed to and existing before the change <br>
you rejected was made.<br>
7. MISCELLANEOUS <br>
Any Dispute determined not subject to arbitration and not initiated in small <br>
claims court will be litigated by either party in a court of competent <br>
jurisdiction in either the superior court for the County of Santa Monica or in <br>
the United States District Court for the Northern District of California. <br>
8. EQUITABLE REMEDIES <br>
Notwithstanding anything contained in these Terms of Use to the contrary, <br>
you acknowledge and agree that any violation of or non-compliance with <br>
these Terms of Use by you will cause irreparable harm to Aniplex, for which <br>
monetary damages would be inadequate, and you consent to Aniplex <br>
obtaining any injunctive or equitable relief that Aniplex deems necessary or <br>
appropriate in such circumstances. Aniplex may also take any legal and <br>
technical remedies to prevent violation of and/or to enforce these Terms of <br>
Use, including, but not limited to, immediate termination of your use of the <br>
Application, if Aniplex believes in its sole discretion that you are violating or <br>
intend to violate these Terms of Use. These remedies are in addition to any <br>
other remedies Aniplex may have at law, in equity or under contract.<br>
<br>
Article 19 Entire Agreement, Waiver, and Severability<br>
<br>
These Terms of Use and the Privacy Policy, each as amended and modified <br>
from time to time, together constitute the entire agreement between you and <br>
Aniplex with respect to the Application. The failure of Aniplex to exercise or <br>
enforce any right or provision of these Terms of Use shall not constitute a <br>
waiver of such right or provision. If any part of these Terms of Use is held <br>
invalid, illegal, or unenforceable, that provision shall be enforced to the <br>
maximum extent permissible so as to maintain the intent of these Terms of <br>
Use, and the other parts will remain in full force and effect.<br>
<br>
Article 20 Supplemental Clause for iOS Device Users<br>
<br>
This clause supplements and is in addition to the conditions of these Terms <br>
of Use for users who purchase and install the Application on iOS devices. If <br>
the following provisions contradict and/or conflict with the provisions of <br>
these Terms of Use, the following provisions shall be preferentially applied to <br>
the extent of such contradictions and/or conflicts.<br>
(1) Acknowledgement: You must acknowledge that these Terms of Use is <br>
concluded between Aniplex and you, and not with Apple Inc. (&quot;Apple&quot;), and <br>
Apple will not be responsible for the Application and the content thereof. <br>
(2) Scope of License: The license granted to you for the Application is limited <br>
to a non-transferable license to use the Application on any Apple-branded <br>
products that you own or control and as permitted by the usage rules set <br>
forth by Apple in the terms of service of App Store. <br>
(3) Maintenance and Support: You must acknowledge that Apple has no <br>
obligation whatsoever to furnish any maintenance and support services with <br>
respect to the Application. <br>
(4) Warranty: In the event of any failure of the Application to conform to any <br>
applicable warranty, Apple will refund the purchase price for the Application <br>
to you; and, to the maximum extent permitted by applicable law, Apple will <br>
have no other warranty obligation whatsoever with respect to the Application. <br>
(5) Product Claims: You must acknowledge that Apple will not be responsible <br>
for addressing any claims of you or any third party relating to the Application or your use of the Application, including, but not limited to: (i) product liability <br>
claims; (ii) any claim that the Application fails to conform to any applicable<br>
legal or regulatory requirement; and (iii) claims arising under consumer <br>
protection or similar legislation. <br>
(6) Intellectual Property Rights: You must acknowledge that, in the event of <br>
any third party claim that the Application or your use of that Application <br>
infringes that third party&#x27;s intellectual property rights, Apple will not be <br>
responsible for the investigation, defense, settlement and discharge of any <br>
such intellectual property infringement claim. <br>
(7) Legal Compliance: You represent and warrant that (i) you are not located <br>
in a country that is subject to a U.S. Government embargo, or that has been <br>
designated by the U.S. Government as a &quot;terrorist supporting&quot; country; and <br>
(ii) you are not listed on any U.S. Government list of prohibited or restricted <br>
parties. <br>
(8) Third Party Terms of Agreement: You must comply with any applicable <br>
third party terms of agreement when using the Application, e.g., you must <br>
not be in violation of your wireless data service agreement when using the <br>
Application. <br>
(9) Third Party Beneficiary: You must acknowledge and agree that Apple, and <br>
Apple&#x27;s subsidiaries, are third party beneficiaries of these Terms of Use, and <br>
that, upon your acceptance of the conditions of these Terms of Use, Apple <br>
will have the right (and will be deemed to have accepted the right) to enforce <br>
these Terms of Use against you as a third party beneficiary thereof.<br>
<br>
Article 21 Contact Us<br>
<br>
If you have any queries in relation to the Application, please do not hesitate <br>
to contact us at: <br>
Aniplex of America Inc. <br>
2120 Colorado Ave. #220 Santa Monica CA 90404 U.S.A. <br>
Email: contact@aniplexusa.com<br>
<br>
Aniplex Inc.<br>
<br><br>

	</div>
</div>