<%
	var enemyCloseFlg  = false;
	var doppelCloseFlg = false;
	if(gameUser.closeFunctions){
		if(gameUser.closeFunctions.indexOf("ARCHIVE_ENEMY") > -1) enemyCloseFlg = true;
		if(gameUser.closeFunctions.indexOf("ARCHIVE_DOPPEL") > -1) doppelCloseFlg = true;
	}

%>
<div id="CollectionTop">
	<div class="btnWrap">
		<div class="collectionBtn se_decide TE charaBtn linkBtn" data-href="#/CharaCollection"></div>
		<div class="collectionBtn se_decide TE memoriaBtn linkBtn" data-href="#/PieceCollection"></div>
		<div class="collectionBtn se_decide TE doppelBtn linkBtn<% if(doppelCloseFlg){ %> limited<% } %>" data-href="#/DoppelCollection"></div>
		<div class="collectionBtn se_decide TE storyBtn linkBtn" data-href="#/StoryCollection"></div>
		<div class="collectionBtn se_decide TE witchBtn linkBtn<% if(enemyCloseFlg){ %> limited<% } %>" data-href="#/EnemyCollection"></div>
	</div>
</div>